main {
  width: 75%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 5px 50px  hsl(200, 26%, 54%);
  border-radius: 1.5rem;
  max-width: 810px;
}

