main {
  width: 100%;
  /* background-color: pink; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



.result, .calculator {
  height: 500px;
  width: 40%;
  
}

.calculator {
  background-color: hsl(0, 0%, 100%);
}

.result {
  background-color: hsl(202, 55%, 16%);
}
